<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파일 업로드 테스트</title>
</head>
<body>
<form name="form" method="post" action="http://localhost:8080" enctype="multipart/form-data">
    <input type="file" name="files" multiple="multiple"/>
    <input type="submit" id="submit" value="전송"/>
</form>

<form method="get" action ="/api/login/twitter">
    <button>
        a

    </button>
</form>

<img src="http://pbs.twimg.com/profile_images/1333747592245645314/xAWnnvRn_normal.png" alt="Twitter Profile Image">


</body>
</html>